# Override default `deploy/public` build directory used by legacy branches
# https://app.netlify.com/sites/govuk-design-system-preview/configuration/deploys

[build]
  publish = "build"

[[redirects]]
  from = "/.well-known/security.txt"
  to = "https://vdp.cabinetoffice.gov.uk/.well-known/security.txt"
  status = 200 # Proxy rather than redirect

[[redirects]]
  from = "/security.txt"
  to = "https://vdp.cabinetoffice.gov.uk/.well-known/security.txt"
  status = 200 # Proxy rather than redirect

[[redirects]]
  from = "/configure-components-with-javascript/"
  to = "/configure-components/"
  status = 301

# Asset filenames with fingerprint hashes (which at the minute is only the font
# from GOV.UK Frontend) are given an 'infinite' max-age and treated as
# immutable.
#
# Historically, an 'infinite' max-age is the 32-bit maximum 2,147,483,648.
# https://datatracker.ietf.org/doc/html/rfc9111#section-1.2.2

[[headers]]
  for = "/assets/govuk/assets/fonts/*"
  [headers.values]
    Cache-Control = "public,max-age=2147483648,immutable"

[[redirects]]
  from = "/changes-to-govuk-frontend-v5/"
  to = "/v5/changes-to-govuk-frontend-v5/"
  status = 301
