<% no_data = "<span aria-hidden='true'>—</span>" %>

| Name | Description | Type | Default value |
| ---- | ----------- | ---- | ------------- |
<% doc.parameter.each do |param| %>
| <%= "`$#{param.name}`" %> | <%= param.description.gsub('|', '&#124;').strip! || no_data %> | <%= param.type ? "`#{param.type}`" : no_data %> | <%= param['default'] ? "`#{param['default']}`" : no_data %> |
<% end %>