---
title: GOV.UK Frontend (v5.x)
weight: 0
hide_in_navigation: true
---

# GOV.UK Frontend (v5.x)

You should not use GOV.UK Frontend v5 in your service as it is out of date and no longer maintained or supported.

Follow our [instructions for staying up to date](../v5/staying-up-to-date/) and upgrade to the latest version of GOV.UK Frontend as soon as possible.

<%=warning_text('If your service still uses GOV.UK Template, GOV.UK Frontend Toolkit or GOV.UK Elements, you should <a href="/v4/installing-with-npm/">install the latest v4 release of GOV.UK Frontend</a> and follow the <a href="/v4/migrating-from-legacy-products/">guidance on migrating from our old frameworks</a>.') %>

Use this technical documentation to find out how to:

- [install GOV.UK Frontend](../v5/installing-with-npm/)
- [use Nunjucks](../v5/use-nunjucks/) as an option to generate the HTML for pages and components
- [configure components](../v5/configure-components/) to customise their behaviour
- use the [JavaScript API reference](../v5/javascript-api-reference/) and the [Sass API reference](/sass-api-reference/)

You can also use the option to [copy and install precompiled files](../v5/install-using-precompiled-files/) to test how GOV.UK Frontend works in your application.

There are live examples of GOV.UK Frontend components, and guidance on using them in your service, in the [GOV.UK Design System](https://design-system.service.gov.uk/).

[Contact us](https://design-system.service.gov.uk/contact/) if you have any questions or feedback.
