---
title: Install using precompiled files
weight: 11
old_paths:
  - /installing-from-dist/index.html
---

# Install using precompiled files

You can install GOV.UK Frontend by copying our CSS, JavaScript and asset files into your project. If you install this way, you can try GOV.UK Frontend in your application without having to make many changes.

<%= warning_text('In your live application, you should <a href="/installing-with-npm/">install with Node.js package manager (npm)</a> instead.
') %>

## What you cannot do after installing

You’ll not be able to:

- change [Sass settings](../sass-api-reference/), for example override colours or set your own font
- use the Nunjucks code from the [Design System website](https://design-system.service.gov.uk/) to add components
- import an individual component’s CSS or JavaScript
- use GOV.UK Frontend's colours or mixins in your custom code

## Copy the files

1. Download the `release-<VERSION-NUMBER>.zip` file at the bottom of the [latest GOV.UK Frontend release note](https://github.com/alphagov/govuk-frontend/releases/latest).
2. Unzip the zip file.
3. Copy the `assets` folder to the root of your project’s public folder, so that for example `<YOUR-SITE-URL>/assets/govuk-crest.png` shows the `govuk-crest.png` image in your users’ browsers.
4. Copy the 2 `.css` files to a stylesheets folder in the root of your project’s public folder, so that for example `<YOUR-SITE-URL>/stylesheets/govuk-frontend-<VERSION-NUMBER>.min.css` shows the CSS file in your users’ browsers.
5. Copy the `.js` file to a JavaScript folder in the root of your project’s public folder, so that for example `<YOUR-SITE-URL>/javascripts/govuk-frontend-<VERSION-NUMBER>.min.js` shows the JavaScript file in your users’ browsers.

## Check an example page

1. Create a page in your project using the following HTML (in your live application, you should use the [Design System page template](https://design-system.service.gov.uk/styles/page-template/) instead):

   ```html
   <!DOCTYPE html>
   <html lang="en" class="govuk-template">
     <head>
       <title>Example - GOV.UK</title>
       <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
       <link rel="stylesheet" href="/stylesheets/govuk-frontend-<VERSION-NUMBER>.min.css">
     </head>
     <body class="govuk-template__body">
       <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
       <!-- component HTML -->
       <script type="module" src="/javascripts/govuk-frontend-<VERSION-NUMBER>.min.js"></script>
       <script type="module">
         import { initAll } from '/javascripts/govuk-frontend-<VERSION-NUMBER>.min.js'
         initAll()
       </script>
     </body>
   </html>
   ```

2. Replace `<VERSION-NUMBER>` so the 3 filenames match the files you [copied from GOV.UK Frontend's GitHub repo](#copy-the-files).

3. Go to the [example accordion component](https://design-system.service.gov.uk/components/accordion/#accordion-example) on the Design System website and copy the HTML from the first example.

4. Replace `<!-- component HTML -->` with the accordion HTML you copied.

5. Run your application - you can check it works the same way as the [Design System accordion example](https://design-system.service.gov.uk/components/accordion/default/index.html) by selecting the buttons and checking the accordion ‘shows’ and ‘hides’ sections.

You can now get the full code for page layouts and other components from the [Design System website](https://design-system.service.gov.uk/).

If the accordion does not work, you can [find out more about how to import GOV.UK Frontend's CSS and JavaScript](../importing-css-assets-and-javascript/#import-css-assets-and-javascript).
