name: Test

on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v4
        with:
          cache: npm
          check-latest: true
          node-version-file: .nvmrc

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: '3.1'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: bundle exec middleman build

      - name: Test
        run: bundle exec rake

      - name: Check links
        run: npm run check-links
